body{
	background-color:#cbf1f5;
}
nav{
	font-weight: 600;
}
.navbar-brand{
	font-size:2.9rem;
}
.nav-item{
   font-size: 1.4rem;
   margin-left: 6%;
}
.container-fluid{
  padding: 2% 6%;
}
.head{
	margin-top:30px;
	color:black;
	font-size:1.1rem;
}